@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
 
#menu-h{
    background-color:#a2ca8e;
}
 
#menu-h ul {
    max-width: 1100px;
    list-style: none;
    padding: 70;
    text-align: right;
}
 
#menu-h ul li {
    display: inline;
}
 
#menu-h ul li a {
    color:#63203D;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
img{
        border-radius: 30px;     
}
body {
        background-color:#E0ECDA;
       }

.itens{
       text-align: center;
       
}
.itens{
        
        max-width: 3000px;
        list-style: none;
         background-color:#a2ca8e;
         padding: 100;
         text-align:center;  
         display: block;
        align-items: center;
        height: 100px;
 }

.conteudo-padrao{
        text-align:justify;
}
.corpo{
        width: 1200px;
        margin:auto;

}
.conteudo{
        display: table;
        color: #63203D;
        
}
.imagem{
        display: table-cell;
        float: left;
        text-align:justify;
        width: 1200px;
}


.texto{
        display: table-cell; 
        float: left;
        width: 700px; 
        margin-top: -1px;
        margin-left: 40px;

}
#dov{
        display: flex;
        justify-content: center;

}
#h1{
	color:#361F2D;
}
p {
	color: #63203D;
}


